#title {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
#number1, #number2, #number3, #number4, #number5, #number7, #number8, #number9, #number10, #number11, #number12, #number13, #number14, #number15{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.selected {
      background: #EE82EE;
    }

    li {
      cursor: pointer;
    }
#vArray p { display: inline }